html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; direction: rtl; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; direction: rtl;}
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; direction: rtl;}
nav h1 { flex: auto; margin: 0; direction: rtl;}
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; direction: rtl;}
nav ul { display: flex; list-style: none; margin: 0; padding: 0; direction: rtl;}
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; direction: rtl;}
.content { padding: 0 1rem 1rem; direction: rtl;}
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items:flex-end; direction: rtl;}
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; direction: rtl;}
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; direction: rtl;}
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; direction: rtl;}
.post > header > div:first-of-type { flex: auto; direction: rtl;}
.post > header h1 { font-size: 1.5em; margin-bottom: 0; direction: rtl;}
.post .about { color: slategray; font-style: italic; direction: rtl;}
.post .body { white-space: pre-line; direction: rtl;}
.content:last-child { margin-bottom: 0; direction: rtl;}
.content form { margin: 1em 0; display: flex; flex-direction: column; direction: rtl;}
.content label { font-weight: bold; margin-bottom: 0.5em; direction: rtl;}
.content input, .content textarea { margin-bottom: 1em; direction: rtl;}
.content textarea { min-height: 12em; resize: vertical; direction: rtl;}
input.danger { color: #cc2f2e; direction: rtl;}
input[type=submit] { align-self: start; min-width: 10em; direction: rtl;}
