<!DOCTYPE html>
<html lang="en">
<head>
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Freevent">

  <title>Login | Freevent</title>

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet" />
  <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />


  <!-- PLUGINS CSS STYLE -->
  <link href="../static/plugins/nprogress/nprogress.css" rel="stylesheet" />

  

  <!-- SLEEK CSS -->
  <link id="sleek-css" rel="stylesheet" href="../static/css/sleek_orig.css" />

  <!-- FAVICON -->
  <link href="../static/img/favicon.png" rel="shortcut icon" />

  
  <script src="../static//plugins/nprogress/nprogress.js"></script>
</head>

</head>
  <body class="" id="body">
      <div class="container d-flex flex-column justify-content-between vh-100">
      <div class="row justify-content-center mt-5">
        <div class="col-xl-5 col-lg-6 col-md-10">
          <div class="card">
            <div class="card-body p-5">

		    <h4 class="text-dark mb-5"><center>Sign In</center></h4>
		    {% with messages=get_flashed_messages() %}
			{% for message in messages %}
			<center><h6><div style="color:red;">{{  message }}</div></h6></center>
			<!-- class="mb-2" -->
			{% endfor %}
		    {% endwith %}
              <form method="post">
                <div class="row">
                  <div class="form-group col-md-12 mb-4">
                    <input type="username" class="form-control input-lg" for="username" id="username" name="username" aria-describedby="emailHelp" placeholder="Username">
                  </div>
                  <div class="form-group col-md-12 ">
                    <input type="password" class="form-control input-lg" for="password" id="password" name="password" placeholder="Password">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex my-2 justify-content-between">
                      <div class="d-inline-block mr-3">

                      </div>
                    </div>
		    <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block mb-4">
                    <p>Don't have an account yet ?
                      <a class="text-blue" href="/register">Sign Up</a>
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--
      <div class="copyright pl-0">
        <p class="text-center">&copy; 2018 Copyright Sleek Dashboard Bootstrap Template by
          <a class="text-primary" href="http://www.iamabdus.com/" target="_blank">Abdus</a>.
        </p>
      </div>
      -->
    </div>

</body>
</html>
