{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block header %}
<center>    
<form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="repeat_password">repeat_password</label>
        <input type="password" name="repeat_password" id="repeat_password" required>
        <input type="submit" value="Register">
</form>
</center>
{% endblock %}
